<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="https://github.com/nickbrooks"><i class="fa fa-lg fa-github"></i> GitHub</a></li>
                    <li><a href="https://github.com/nickbrooks"><i class="fa fa-lg fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://github.com/nickbrooks"><i class="fa fa-lg fa-youtube"></i> YouTube</a></li>
                    <li><a href="https://github.com/nickbrooks"><i class="fa fa-lg fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>