<div class="collapse" id="navbar-header">
    <div class="bg-inverse">
        <div class="container p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
</div>
<div class="navbar navbar-light bg-faded navbar-static-top m-b-1">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
        &#9776;
      </button>
      Nick Brooks
    </div>
</div>