p, ul, ol, dl {
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
    color: #34495e;
    font-weight: bold;
    margin: 2em 0 0.8em;
}

.meta {
    color: #999;
}

.light {
    font-weight: 400;
}

a {
    color: #1E88E5;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #1E88E5;
    text-decoration: underline;
}

code {
    color: #E91E63;
}